* {
    box-sizing: border-box;
}

body {
    background-Color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 15px;
    margin: 0 auto;
    min-width: 1000px;;
}

p {
    line-height: 1;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}

.profile-stats p {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.profile-stats {
    display: inline-block;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow:
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
    line-height: 1.5;
    color: #62BBF1;
    font-size: 20px;
    
}

.flex-nav a {
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.flex-profile img {
    width: 73px; 
}

.flex-profile a{
    display: flex;
    line-height: 1.5;
}

.item {
  padding: 8px;
  /* border: 8px solid tomato; */
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  min-height: 50vh;
  width: 100%;
}

.twitter-clone.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "header   header  header  header  header  header"
    "sidebar1 content content content content sidebar2"
    "sidebar1 content content content content sidebar2"
    "footer   footer  footer  footer  footer  footer";
}

.item.header-container{
    grid-area: header;
}

.item.sidebar1-container{
    grid-area: sidebar1;
    
}

.item.content-container{
    grid-area: content;
}

.item.sidebar2-container{
    grid-area: sidebar2;
}

.item.footer-container{
    grid-area: footer;
}

/* fixex-top-navbar */
.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    display: inline-block;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    border-radius: 1%;
    box-shadow:
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.flex-nav ul .nav-item {
    flex-grow: 2;
    /* margin-right: auto; */
}

.flex-nav ul .item-nav {
    flex-grow: 1;
    margin-left: auto;
}

.item.header-container {
    background-color: #E6ECF0;
}

.suggest-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.suggest-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* End-fixed-top-navbar */
.profile-bg {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.profile-bg img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: flexible;
    /* padding: 0 20px; */
    margin: 0 25px;
    box-shadow:
             0 0  0 2px rgb(255,255,255);
}

.content-body img, .suggest-body img {
    width: 48px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile-stats ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.profile-stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

/* Sidebar1 */

.flex-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-content {
    display: inline-block;
    flex-wrap: wrap;
    border-bottom: 2px solid #E6ECF0;
    margin: 20px;
}

.content-head {
    display: flex;
    position: relative;
    left: 5%;
}

.content-body {
    display: flex;
    align-items: center;
}

.content-footer {
    display: flex;
    justify-content: space-around;
}